# Supabase
SUPABASE_URL=https://vggkzrhtexbqvdsvhshq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnZ2t6cmh0ZXhicXZkc3Zoc2hxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkyOTQ2OTksImV4cCI6MjA3NDg3MDY5OX0.-Gyj6g2QVAX99efDUNGtxJ97s7faVRqV5yIaQenJ4K8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnZ2t6cmh0ZXhicXZkc3Zoc2hxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTI5NDY5OSwiZXhwIjoyMDc0ODcwNjk5fQ.bV_PsN5fBsYo9F6cveLDVr3_Uu06UYFZQ3S7DYB8TeI

# EAS (if used)
EAS_PROJECT_ID=
